body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(0, 212, 255) 100%
  );
}
.container {
  width: 320px;
  height: 420px;
  padding: 2px 16px;
  text-align: center;
  display: flex;
}
.container .card {
  box-shadow: 0 4px 8px 0 rgb(112, 153, 161);
  transition: 0.6;
  transform-style: preserve-3d;
  border-radius: 70px;
}
