body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgb(0, 212, 255) 100%
  );
}
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  text-align: center;
  justify-content: center;
}



/*.container {
  max-width: 700px;
  background: rgb(0, 212, 255);
  padding: 20px 30px;
  border-radius: 80px;
  box-shadow: 0px 0px 40px 15px rgb(74, 162, 182);
  line-height: 70px;
}
.container #display {
  font-size: 35px;
  font-weight: 500;
}
